{{#if showTopicLists}}
{{plugin-outlet name="above-discourse-showcased-categories" tagName="" connectorTagName="div"}}

<div class="integrators">
  {{integrators-topic-list category=category classNames="col col-1" title=(theme-setting 'title')}}
</div>
{{/if}}