<div class="header-wrapper">
  <h2>{{title}}</h2>
</div>
{{#conditional-loading-spinner condition=isLoading}}
  {{#each topicList as |t|}}
   {{t.title}}
   {{/each}}
  {{topic-list topics=topicList showPosters=true}}
{{/conditional-loading-spinner}}
<a href="{{moreHref}}" class="btn btn-more">More</a>